#map {
  width: 80vw;
  height: 80vw;
  position: relative
  
}

.informations {
   /* Add shadows to create the "card" effect */
   /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
   -webkit-box-shadow: 17px 11px 14px 6px rgba(0,0,0,0.86); 
box-shadow: 17px 11px 14px 6px rgba(0,0,0,0.86);
   transition: 0.3s;
   border: 4px outset rgba(38,92,164,0.19);
   background-color: rgb(22, 61, 49);
 
    height: 450px;
    width: 180px;
    padding: 2px 16px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
font-size: 14px;
letter-spacing: 1.2px;
word-spacing: -3.4px;
color: #f3f1f1;
font-weight: 400;
text-decoration: none solid rgb(68, 68, 68);
font-style: normal;
font-variant: normal;
text-transform: none;
}

.img {
  border-radius: 10px 10px 0 0;
  height: 10px;
  width: 10px;
}

#information:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

