#font {
  color: black;
}

#font1 {
  color: black;
}

#font2 {
  color: black;
}

#font3 {
  color: black;
}

#font4 {
  color: black;
}

#font5 {
  color: black;
}

#font6 {
  color: black;
}

#font7 {
  color: black;
}